In [63]:
import tensorflow as tf
import pandas as pd
import numpy as np
df=pd.read_csv('/content/lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [64]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [65]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [66]:
df.sample(5)

          Name    Surname  Age  Smokes  AreaQ  Alkhol  Result
6       Mihail        Tal   58      15     10       0       0
28       John       Wayne   55      20      1       4       1
50  Katharine     Hepburn   42      12      6       2       0
51     Barbra   Streisand   44      30      1       6       1
37     Robert      Duvall   62      15      5       5       1

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     59 non-null     object
 1   Surname  59 non-null     object
 2   Age      59 non-null     int64
 3   Smokes   59 non-null     int64
 4   AreaQ    59 non-null     int64
 5   Alkhol   59 non-null     int64
 6   Result   59 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.4+ KB

In [68]:
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,59,49,Katharine,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Surname,59,49,Hepburn,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,59.0,NaN,NaN,NaN,42.627119,16.23523,18.0,29.0,39.0,55.0,77.0
Smokes,59.0,NaN,NaN,NaN,15.067797,7.984607,0.0,10.0,15.0,20.0,34.0
AreaQ,59.0,NaN,NaN,NaN,5.20339,2.461984,1.0,3.0,5.0,7.5,10.0
Alkhol,59.0,NaN,NaN,NaN,3.237288,2.380517,0.0,1.0,3.0,5.0,8.0
Result,59.0,NaN,NaN,NaN,0.474576,0.50364,0.0,0.0,0.0,1.0,1.0

In [69]:
df.isnull().sum().sum()

0

In [70]:
df.duplicated().sum()

0

In [71]:
df.drop(['Name','Surname'],axis=1,inplace=True)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [72]:
x=df.drop('Result',axis=1).values
y=df['Result'].values

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(41, 4)
(18, 4)
(41,)
(18,)

In [74]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [75]:
# intialisation od ANN

ann=tf.keras.models.Sequential()
# 4 nodes in input layer(since 4 i/p categories)

In [76]:
# Hidden Layer1
ann.add(tf.keras.layers.Dense(6,activation='relu'))
# Hidden Layer2
ann.add(tf.keras.layers.Dense(6,activation='relu'))
# O/P Layer
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))
# compiling the model
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
# Training
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
2/2  2s 7ms/step - accuracy: 0.5081 - loss: 0.7653
Epoch 2/100
2/2  0s 8ms/step - accuracy: 0.4977 - loss: 0.7612
Epoch 3/100
2/2  0s 6ms/step - accuracy: 0.4977 - loss: 0.7597
Epoch 4/100
2/2  0s 6ms/step - accuracy: 0.5185 - loss: 0.7510
Epoch 5/100
2/2  0s 6ms/step - accuracy: 0.5185 - loss: 0.7315
Epoch 6/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.7300
Epoch 7/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.7237
Epoch 8/100
2/2  0s 7ms/step - accuracy: 0.4977 - loss: 0.7348
Epoch 9/100
2/2  0s 7ms/step - accuracy: 0.5081 - loss: 0.7206
Epoch 10/100
2/2  0s 7ms/step - accuracy: 0.5081 - loss: 0.7157
Epoch 11/100
2/2  0s 9ms/step - accuracy: 0.4873 - loss: 0.7241
Epoch 12/100
2/2  0s 10ms/step - accuracy: 0.5081 - loss: 0.6982
Epoch 13/100
2/2  0s 8ms/step - accuracy: 0.4977 - loss: 0.7066
Epoch 14/100
2/2  0s 7ms/step - accuracy: 0.4873 - loss: 0.7096
Epoch 15/100
2/2  0s 7ms/step - accuracy: 0.5290 - loss: 0.6775
Epoch 16/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6833
Epoch 17/100
2/2  0s 7ms/step - accuracy: 0.4977 - loss: 0.6816
Epoch 18/100
2/2  0s 7ms/step - accuracy: 0.5290 - loss: 0.6616
Epoch 19/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6639
Epoch 20/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6533
Epoch 21/100
2/2  0s 7ms/step - accuracy: 0.4769 - loss: 0.6797
Epoch 22/100
2/2  0s 7ms/step - accuracy: 0.4977 - loss: 0.6602
Epoch 23/100
2/2  0s 7ms/step - accuracy: 0.4977 - loss: 0.6665
Epoch 24/100
2/2  0s 8ms/step - accuracy: 0.5394 - loss: 0.6315
Epoch 25/100
2/2  0s 7ms/step - accuracy: 0.5394 - loss: 0.6351
Epoch 26/100
2/2  0s 7ms/step - accuracy: 0.5081 - loss: 0.6483
Epoch 27/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6371
Epoch 28/100
2/2  0s 7ms/step - accuracy: 0.4873 - loss: 0.6434
Epoch 29/100
2/2  0s 7ms/step - accuracy: 0.5290 - loss: 0.6174
Epoch 30/100
2/2  0s 7ms/step - accuracy: 0.5081 - loss: 0.6301
Epoch 31/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6172
Epoch 32/100
2/2  0s 7ms/step - accuracy: 0.5185 - loss: 0.6122
Epoch 33/100
2/2  0s 7ms/step - accuracy: 0.5081 - loss: 0.6142
Epoch 34/100
2/2  0s 7ms/step - accuracy: 0.4977 - loss: 0.6214
Epoch 35/100
2/2  0s 10ms/step - accuracy: 0.4977 - loss: 0.6112
Epoch 36/100
2/2  0s 9ms/step - accuracy: 0.5185 - loss: 0.5929
Epoch 37/100
2/2  0s 9ms/step - accuracy: 0.4977 - loss: 0.6019
Epoch 38/100
2/2  0s 9ms/step - accuracy: 0.4977 - loss: 0.6045
Epoch 39/100
2/2  0s 9ms/step - accuracy: 0.4873 - loss: 0.6043
Epoch 40/100
2/2  0s 9ms/step - accuracy: 0.5140 - loss: 0.5966
Epoch 41/100
2/2  0s 9ms/step - accuracy: 0.5302 - loss: 0.5991
Epoch 42/100
2/2  0s 7ms/step - accuracy: 0.5511 - loss: 0.5830
Epoch 43/100
2/2  0s 7ms/step - accuracy: 0.5777 - loss: 0.5822
Epoch 44/100
2/2  0s 7ms/step - accuracy: 0.5986 - loss: 0.5687
Epoch 45/100
2/2  0s 7ms/step - accuracy: 0.5732 - loss: 0.5824
Epoch 46/100
2/2  0s 8ms/step - accuracy: 0.5940 - loss: 0.5785
Epoch 47/100
2/2  0s 9ms/step - accuracy: 0.6148 - loss: 0.5579
Epoch 48/100
2/2  0s 8ms/step - accuracy: 0.5940 - loss: 0.5713
Epoch 49/100
2/2  0s 7ms/step - accuracy: 0.6253 - loss: 0.5560
Epoch 50/100
2/2  0s 7ms/step - accuracy: 0.6044 - loss: 0.5529
Epoch 51/100
2/2  0s 7ms/step - accuracy: 0.6357 - loss: 0.5322
Epoch 52/100
2/2  0s 11ms/step - accuracy: 0.6148 - loss: 0.5442
Epoch 53/100
2/2  0s 7ms/step - accuracy: 0.6623 - loss: 0.5256
Epoch 54/100
2/2  0s 8ms/step - accuracy: 0.6949 - loss: 0.5354
Epoch 55/100
2/2  0s 7ms/step - accuracy: 0.6845 - loss: 0.5351
Epoch 56/100
2/2  0s 7ms/step - accuracy: 0.6845 - loss: 0.5282
Epoch 57/100
2/2  0s 8ms/step - accuracy: 0.6845 - loss: 0.5242
Epoch 58/100
2/2  0s 11ms/step - accuracy: 0.6636 - loss: 0.5291
Epoch 59/100
2/2  0s 10ms/step - accuracy: 0.6845 - loss: 0.5216
Epoch 60/100
2/2  0s 10ms/step - accuracy: 0.6845 - loss: 0.5108
Epoch 61/100
2/2  0s 9ms/step - accuracy: 0.6845 - loss: 0.5153
Epoch 62/100
2/2  0s 11ms/step - accuracy: 0.6949 - loss: 0.5014
Epoch 63/100
2/2  0s 8ms/step - accuracy: 0.6845 - loss: 0.5081
Epoch 64/100
2/2  0s 8ms/step - accuracy: 0.6845 - loss: 0.4966
Epoch 65/100
2/2  0s 7ms/step - accuracy: 0.6949 - loss: 0.4961
Epoch 66/100
2/2  0s 8ms/step - accuracy: 0.7066 - loss: 0.4973
Epoch 67/100
2/2  0s 8ms/step - accuracy: 0.7170 - loss: 0.4900
Epoch 68/100
2/2  0s 7ms/step - accuracy: 0.7749 - loss: 0.4827
Epoch 69/100
2/2  0s 7ms/step - accuracy: 0.7645 - loss: 0.4790
Epoch 70/100
2/2  0s 7ms/step - accuracy: 0.7541 - loss: 0.4819
Epoch 71/100
2/2  0s 8ms/step - accuracy: 0.7541 - loss: 0.4799
Epoch 72/100
2/2  0s 7ms/step - accuracy: 0.7645 - loss: 0.4734
Epoch 73/100
2/2  0s 7ms/step - accuracy: 0.7912 - loss: 0.4661
Epoch 74/100
2/2  0s 8ms/step - accuracy: 0.7807 - loss: 0.4695
Epoch 75/100
2/2  0s 6ms/step - accuracy: 0.7970 - loss: 0.4741
Epoch 76/100
2/2  0s 6ms/step - accuracy: 0.8237 - loss: 0.4604
Epoch 77/100
2/2  0s 7ms/step - accuracy: 0.8237 - loss: 0.4557
Epoch 78/100
2/2  0s 7ms/step - accuracy: 0.8504 - loss: 0.4531
Epoch 79/100
2/2  0s 8ms/step - accuracy: 0.8504 - loss: 0.4489
Epoch 80/100
2/2  0s 7ms/step - accuracy: 0.8712 - loss: 0.4436
Epoch 81/100
2/2  0s 8ms/step - accuracy: 0.8874 - loss: 0.4387
Epoch 82/100
2/2  0s 12ms/step - accuracy: 0.8666 - loss: 0.4356
Epoch 83/100
2/2  0s 9ms/step - accuracy: 0.8666 - loss: 0.4351
Epoch 84/100
2/2  0s 9ms/step - accuracy: 0.8770 - loss: 0.4341
Epoch 85/100
2/2  0s 10ms/step - accuracy: 0.8933 - loss: 0.4278
Epoch 86/100
2/2  0s 10ms/step - accuracy: 0.9200 - loss: 0.4339
Epoch 87/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.4285
Epoch 88/100
2/2  0s 8ms/step - accuracy: 0.9571 - loss: 0.4137
Epoch 89/100
2/2  0s 8ms/step - accuracy: 0.9571 - loss: 0.4147
Epoch 90/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.4068
Epoch 91/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.4150
Epoch 92/100
2/2  0s 6ms/step - accuracy: 0.9466 - loss: 0.4063
Epoch 93/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.3984
Epoch 94/100
2/2  0s 8ms/step - accuracy: 0.9571 - loss: 0.3923
Epoch 95/100
2/2  0s 7ms/step - accuracy: 0.9571 - loss: 0.3766
Epoch 96/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.3963
Epoch 97/100
2/2  0s 8ms/step - accuracy: 0.9571 - loss: 0.3921
Epoch 98/100
2/2  0s 8ms/step - accuracy: 0.9571 - loss: 0.3833
Epoch 99/100
2/2  0s 7ms/step - accuracy: 0.9466 - loss: 0.3886
Epoch 100/100
2/2  0s 8ms/step - accuracy: 0.9466 - loss: 0.3689

In [78]:
ann.summary()

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_8 (Dense)                       (None, 6)                                 30

 dense_9 (Dense)                       (None, 6)                                 42

 dense_10 (Dense)                      (None, 1)                                  7

 Total params: 239 (960.00 B)

 Trainable params: 79 (316.00 B)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 160 (644.00 B)